.AppFooter {
  /* Contenedor principal del footer */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2rem 1rem 4rem;
  max-width: 700px;
  margin: 0 auto; /* Centrar el componente */
  z-index: 10;
  position: relative;
}

.SocialMedia { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  width: 100%; 
  gap: 0.75rem; 
}
.SocialMedia p { 
  margin: 0; 
  color: var(--color-light-text);
}
.SocialMedia__brand-text { 
  font-size: 2em; 
  font-weight: 800; 
  color: var(--color-light-text) !important; 
  margin-bottom: 1rem !important; 
}
.SocialMedia__subtitle { 
  font-size: 1rem; 
  font-weight: 400; 
  margin: 0; 
  margin-bottom: 1rem; 
}
.SocialMedia__icons { 
  display: flex; 
  gap: 1.5rem; 
}
.SocialMedia__icons a { 
  display: block; 
  transition: transform 0.2s ease; 
}
.SocialMedia__icons a:hover { 
  transform: scale(1.1); 
}
.SocialMedia__icons img { 
  width: 30px; 
  height: 30px; 
  filter: brightness(0) invert(1); 
}

.FooterInfo { 
  text-align: center; 
  border-top: 1px solid var(--card-border); 
  padding-top: 1.5rem; 
  width: 100%; 
}
.FooterInfo p { 
  margin: 0.2rem 0; 
  font-size: 0.8rem; 
  color: var(--color-muted-text); 
}